# Importing Libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Read Dataset

In [8]:
data = pd.read_csv('202105-divvy-tripdata.csv')

# Some Statistics Methods

In [9]:
data

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C809ED75D6160B2A,electric_bike,2021-05-30 11:58:15,2021-05-30 12:10:39,NaN,NaN,NaN,NaN,41.900000,-87.630000,41.89000,-87.610000,casual
1,DD59FDCE0ACACAF3,electric_bike,2021-05-30 11:29:14,2021-05-30 12:14:09,NaN,NaN,NaN,NaN,41.880000,-87.620000,41.79000,-87.580000,casual
2,0AB83CB88C43EFC2,electric_bike,2021-05-30 14:24:01,2021-05-30 14:25:13,NaN,NaN,NaN,NaN,41.920000,-87.700000,41.92000,-87.700000,casual
3,7881AC6D39110C60,electric_bike,2021-05-30 14:25:51,2021-05-30 14:41:04,NaN,NaN,NaN,NaN,41.920000,-87.700000,41.94000,-87.690000,casual
4,853FA701B4582BAF,electric_bike,2021-05-30 18:15:39,2021-05-30 18:22:32,NaN,NaN,NaN,NaN,41.940000,-87.690000,41.94000,-87.700000,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
531628,EF56D7D1D612AC11,electric_bike,2021-05-20 16:32:14,2021-05-20 16:35:39,Blackstone Ave & Hyde Park Blvd,13398,NaN,NaN,41.802581,-87.590230,41.80000,-87.600000,member
531629,745191CB9F21DE3C,classic_bike,2021-05-29 16:40:37,2021-05-29 17:22:37,Sheridan Rd & Montrose Ave,TA1307000107,Michigan Ave & Oak St,13042,41.961670,-87.654640,41.90096,-87.623777,casual
531630,428575BAA5356BFF,electric_bike,2021-05-31 14:24:54,2021-05-31 14:31:38,Sheridan Rd & Montrose Ave,TA1307000107,NaN,NaN,41.961525,-87.654651,41.95000,-87.650000,member
531631,FC8A4A7AB7249662,electric_bike,2021-05-25 16:01:33,2021-05-25 16:07:37,Sheridan Rd & Montrose Ave,TA1307000107,NaN,NaN,41.961654,-87.654721,41.98000,-87.660000,member
531632,E873B8AA3EE84678,docked_bike,2021-05-12 12:22:14,2021-05-12 12:30:27,Sheridan Rd & Montrose Ave,TA1307000107,Clark St & Grace St,TA1307000127,41.961670,-87.654640,41.95078,-87.659172,casual

In [10]:
data.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
531628,EF56D7D1D612AC11,electric_bike,2021-05-20 16:32:14,2021-05-20 16:35:39,Blackstone Ave & Hyde Park Blvd,13398,NaN,NaN,41.802581,-87.590230,41.80000,-87.600000,member
531629,745191CB9F21DE3C,classic_bike,2021-05-29 16:40:37,2021-05-29 17:22:37,Sheridan Rd & Montrose Ave,TA1307000107,Michigan Ave & Oak St,13042,41.961670,-87.654640,41.90096,-87.623777,casual
531630,428575BAA5356BFF,electric_bike,2021-05-31 14:24:54,2021-05-31 14:31:38,Sheridan Rd & Montrose Ave,TA1307000107,NaN,NaN,41.961525,-87.654651,41.95000,-87.650000,member
531631,FC8A4A7AB7249662,electric_bike,2021-05-25 16:01:33,2021-05-25 16:07:37,Sheridan Rd & Montrose Ave,TA1307000107,NaN,NaN,41.961654,-87.654721,41.98000,-87.660000,member
531632,E873B8AA3EE84678,docked_bike,2021-05-12 12:22:14,2021-05-12 12:30:27,Sheridan Rd & Montrose Ave,TA1307000107,Clark St & Grace St,TA1307000127,41.961670,-87.654640,41.95078,-87.659172,casual

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531633 entries, 0 to 531632
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             531633 non-null  object
 1   rideable_type       531633 non-null  object
 2   started_at          531633 non-null  object
 3   ended_at            531633 non-null  object
 4   start_station_name  477889 non-null  object
 5   start_station_id    477889 non-null  object
 6   end_station_name    473439 non-null  object
 7   end_station_id      473439 non-null  object
 8   start_lat           531633 non-null  float64
 9   start_lng           531633 non-null  float64
 10  end_lat             531181 non-null  float64
 11  end_lng             531181 non-null  float64
 12  member_casual       531633 non-null  object
dtypes: float64(4), object(9)
memory usage: 52.7+ MB

In [12]:
data['started_at'] = data['started_at'].astype('object')

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531633 entries, 0 to 531632
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             531633 non-null  object
 1   rideable_type       531633 non-null  object
 2   started_at          531633 non-null  object
 3   ended_at            531633 non-null  object
 4   start_station_name  477889 non-null  object
 5   start_station_id    477889 non-null  object
 6   end_station_name    473439 non-null  object
 7   end_station_id      473439 non-null  object
 8   start_lat           531633 non-null  float64
 9   start_lng           531633 non-null  float64
 10  end_lat             531181 non-null  float64
 11  end_lng             531181 non-null  float64
 12  member_casual       531633 non-null  object
dtypes: float64(4), object(9)
memory usage: 52.7+ MB

In [14]:
data.describe()

           start_lat      start_lng        end_lat        end_lng
count  531633.000000  531633.000000  531181.000000  531181.000000
mean       41.901245     -87.643766      41.901613     -87.644042
std         0.045106       0.026761       0.045142       0.026920
min        41.648501     -87.780000      41.560000     -87.850000
25%        41.881690     -87.658611      41.881892     -87.658751
50%        41.898418     -87.639833      41.898969     -87.640000
75%        41.928712     -87.626185      41.928830     -87.626469
max        42.070000     -87.520000      42.090000     -87.520000

# Dealing with null values

In [15]:
data.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    53744
start_station_id      53744
end_station_name      58194
end_station_id        58194
start_lat                 0
start_lng                 0
end_lat                 452
end_lng                 452
member_casual             0
dtype: int64

# Remove Duplicates

In [26]:
data.dropna(axis = 0 , inplace = True)

In [27]:
data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
25,0F3AE375DEC608D9,classic_bike,2021-05-02 08:21:19,2021-05-02 09:20:46,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,casual
28,43E916C72D4C77B3,electric_bike,2021-05-01 22:15:55,2021-05-01 22:51:27,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.901037,-87.623789,41.900775,-87.623852,casual
72,2AAB47362E76AC7F,electric_bike,2021-05-31 00:50:15,2021-05-31 00:56:59,Clark St & Grace St,TA1307000127,Clark St & Leland Ave,TA1309000014,41.950929,-87.659147,41.967092,-87.667394,casual
73,344011882FBBB8BD,classic_bike,2021-05-31 07:35:08,2021-05-31 08:33:45,Sheridan Rd & Noyes St (NU),604,Sheridan Rd & Noyes St (NU),604,42.058239,-87.677432,42.058239,-87.677432,casual
80,238E58CAB07FA2A8,electric_bike,2021-05-02 16:55:59,2021-05-02 16:57:10,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900995,-87.623736,41.900992,-87.623726,casual

In [18]:
data.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
531623,6AFB0C7D4D89F1B0,classic_bike,2021-05-01 15:28:11,2021-05-01 16:00:54,Sheridan Rd & Montrose Ave,TA1307000107,Michigan Ave & Oak St,13042,41.961670,-87.654640,41.900960,-87.623777,member
531624,187B36C368311E5B,electric_bike,2021-05-12 18:37:36,2021-05-12 18:44:13,Sheridan Rd & Montrose Ave,TA1307000107,Clark St & Grace St,TA1307000127,41.961521,-87.654596,41.950980,-87.659022,member
531625,43C517C9DD4CF4B2,docked_bike,2021-05-22 17:45:09,2021-05-22 18:30:00,Clark St & North Ave,13128,Kingsbury St & Kinzie St,KA1503000043,41.911974,-87.631942,41.889177,-87.638506,casual
531629,745191CB9F21DE3C,classic_bike,2021-05-29 16:40:37,2021-05-29 17:22:37,Sheridan Rd & Montrose Ave,TA1307000107,Michigan Ave & Oak St,13042,41.961670,-87.654640,41.900960,-87.623777,casual
531632,E873B8AA3EE84678,docked_bike,2021-05-12 12:22:14,2021-05-12 12:30:27,Sheridan Rd & Montrose Ave,TA1307000107,Clark St & Grace St,TA1307000127,41.961670,-87.654640,41.950780,-87.659172,casual

In [22]:
data

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
25,0F3AE375DEC608D9,classic_bike,2021-05-02 08:21:19,2021-05-02 09:20:46,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,casual
28,43E916C72D4C77B3,electric_bike,2021-05-01 22:15:55,2021-05-01 22:51:27,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.901037,-87.623789,41.900775,-87.623852,casual
72,2AAB47362E76AC7F,electric_bike,2021-05-31 00:50:15,2021-05-31 00:56:59,Clark St & Grace St,TA1307000127,Clark St & Leland Ave,TA1309000014,41.950929,-87.659147,41.967092,-87.667394,casual
73,344011882FBBB8BD,classic_bike,2021-05-31 07:35:08,2021-05-31 08:33:45,Sheridan Rd & Noyes St (NU),604,Sheridan Rd & Noyes St (NU),604,42.058239,-87.677432,42.058239,-87.677432,casual
80,238E58CAB07FA2A8,electric_bike,2021-05-02 16:55:59,2021-05-02 16:57:10,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900995,-87.623736,41.900992,-87.623726,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
531623,6AFB0C7D4D89F1B0,classic_bike,2021-05-01 15:28:11,2021-05-01 16:00:54,Sheridan Rd & Montrose Ave,TA1307000107,Michigan Ave & Oak St,13042,41.961670,-87.654640,41.900960,-87.623777,member
531624,187B36C368311E5B,electric_bike,2021-05-12 18:37:36,2021-05-12 18:44:13,Sheridan Rd & Montrose Ave,TA1307000107,Clark St & Grace St,TA1307000127,41.961521,-87.654596,41.950980,-87.659022,member
531625,43C517C9DD4CF4B2,docked_bike,2021-05-22 17:45:09,2021-05-22 18:30:00,Clark St & North Ave,13128,Kingsbury St & Kinzie St,KA1503000043,41.911974,-87.631942,41.889177,-87.638506,casual
531629,745191CB9F21DE3C,classic_bike,2021-05-29 16:40:37,2021-05-29 17:22:37,Sheridan Rd & Montrose Ave,TA1307000107,Michigan Ave & Oak St,13042,41.961670,-87.654640,41.900960,-87.623777,casual
531632,E873B8AA3EE84678,docked_bike,2021-05-12 12:22:14,2021-05-12 12:30:27,Sheridan Rd & Montrose Ave,TA1307000107,Clark St & Grace St,TA1307000127,41.961670,-87.654640,41.950780,-87.659172,casual

In [23]:
data.duplicated()

25        False
28        False
72        False
73        False
80        False
          ...
531623    False
531624    False
531625    False
531629    False
531632    False
Length: 450994, dtype: bool

In [24]:
data.duplicated().sum()

0

In [25]:
data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
25,0F3AE375DEC608D9,classic_bike,2021-05-02 08:21:19,2021-05-02 09:20:46,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,casual
28,43E916C72D4C77B3,electric_bike,2021-05-01 22:15:55,2021-05-01 22:51:27,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.901037,-87.623789,41.900775,-87.623852,casual
72,2AAB47362E76AC7F,electric_bike,2021-05-31 00:50:15,2021-05-31 00:56:59,Clark St & Grace St,TA1307000127,Clark St & Leland Ave,TA1309000014,41.950929,-87.659147,41.967092,-87.667394,casual
73,344011882FBBB8BD,classic_bike,2021-05-31 07:35:08,2021-05-31 08:33:45,Sheridan Rd & Noyes St (NU),604,Sheridan Rd & Noyes St (NU),604,42.058239,-87.677432,42.058239,-87.677432,casual
80,238E58CAB07FA2A8,electric_bike,2021-05-02 16:55:59,2021-05-02 16:57:10,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900995,-87.623736,41.900992,-87.623726,casual

# Save data

In [30]:
data.to_csv('Google_Capstone_Preprocessing.csv')